<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="nav.html :: links">
    <title>Details </title>
</div>
<body>
<div th:replace="nav.html :: header"></div>
<div class="container">
    <h2>Details</h2>
    <div th:if="${task == null}">
        <p>Task not found</p>
        <p><a class="btn btn-outline-primary" href="#" th:href="@{/tasks/new}"> Add a new Task here!</a></p>
    </div>

    <div th:if="${task != null}">
        <div>
            <p th:text="${task.title}"></p>
            <p th:text="${task.description}"></p>
            <p th:text="${#temporals.format(task.dateAndTimeOfTask, 'd MMMM yyyy  HH:mm')}"></p>
        </div>

        <div th:if="${subtaskList == null}">
            <p>No subtasks for this task</p>
        </div>

        <div th:if="${subtaskList != null}">
            <h2>Details</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Task title</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subtask : ${subtaskList}">
                    <td th:text="${subtask.title}"></td>
                    <td th:text="${subtask.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
