<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header th:fragment="nav">
    <!--<div class="navbar navbar-expand-lg navbar-light bg-light">

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tasks/}" th:text="#{nav.overview}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/tasks/new}" th:text="#{nav.newTask}"></a>
            </li>
            <li><a class="nav-link" href="#" th:href="@{''(lang=en)}">English</a></li>
            <li><a class="nav-link" href="#" th:href="@{''(lang=nl)}">Nederlands</a></li>
            <li><a class="nav-link" href="#" th:href="@{''(lang=fr)}">Français</a></li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/tasks/}" th:text="#{nav.overview}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks/new}" th:text="#{nav.newTask}"></a>
                </li>

            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand" th:text="#{nav.brand}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <li><a class="nav-link" href="#" th:href="@{''(lang=en)}">English</a></li>
                </li>
                <li class="nav-item">
                <li><a class="nav-link" href="#" th:href="@{''(lang=nl)}">Nederlands</a></li>
                </li>
                <li class="nav-item">
                <li><a class="nav-link" href="#" th:href="@{''(lang=fr)}">Français</a></li>
                </li>
            </ul>
        </div>
    </nav>

</header>
</body>
</html>
